<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Work+Sans" type="text/content">
	<link rel="stylesheet" href="/lib/jquery/jquery.js">
	<link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/lib/bootstrap/js/bootstrap.js">
	<link rel="stylesheet" href="/css/site.css">


</head>

<body>

		<div class="container">
			<header>
				<nav class="logo navbar navbar-expand-lg navbar-dark fixed-top bg-primary 
					aria-label="Doorstep Donuts>
					<div class="container-xl">
						<a class="navbar-brand">DoorStep Donuts</a>
						<img src="" alt="">
						<button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-label="toggle" aria-expanded="false">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="collapse navbar-collapse" id="navbarCollapse">
							<ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
						</div>
					</div>

				</nav>

			</header>
			@RenderBody() 
		</div>
	
</body>

</html>
