@model HomeViewModel;



<div id="carouselImages" class="carousel slide" data-bs-ride="false" >
	<div class="carousel-indicators">
		<button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active"></button>
		<button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" ></button>
		<button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" ></button>
	</div>
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/images/choc-glazed-small.jpg" class="d-block w-100" alt="Carousel image 1">
		</div>
		<div class="carousel-item ">
			<img src="/images/pink-sprinkles.jpg" class="d-block w-100" alt="Carousel image 2">
		</div>
		<div class="carousel-item ">
			<img src="/images/strawberry-sprinkles-small.jpg" class="d-block w-100" alt="Carousel image 3">
		</div>
<button class="carousel-control-prev" type="button" data-bs-target="#carouselImages" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselImages" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
</button>

	</div>


</div>

<div class="text-center">
	<h1>Donuts of the Week</h1>
	<h4>Our personal picks</h5>
</div>

<div class="donuts-of-the-week">
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 px-3">
		@foreach(var donut in Model.DonutsOfTheWeek)
		{
			<partial name="_DonutCard" model="donut"/>

		}
	</div>
</div>



