@model DonutListViewModel 

@if(Model.Donuts != null)
{
	<h1>@Model.CurrentCategory</h1>
	@foreach(var Donut in Model.Donuts)
	{
		<h2>@Donut.Name</h2>
		<h3>@Donut.Price.ToString("c")</h3>
		<h4>@Donut.Category.CategoryName</h4>
	}
}






